In [233]:
import pandas as pd

In [234]:
df = pd.read_csv('gen_data.csv')
df

       Slot     Status        Date      Time
0      F1_1  available  2020-01-01  09:00:00
1      F1_2  available  2020-01-01  09:00:00
2      F1_3  available  2020-01-01  09:00:00
3      F1_4  available  2020-01-01  09:00:00
4      F1_5  available  2020-01-01  09:00:00
...     ...        ...         ...       ...
1035   F4_6  available  2020-01-02  21:00:00
1036   F4_7  available  2020-01-02  21:00:00
1037   F4_8  available  2020-01-02  21:00:00
1038   F4_9  available  2020-01-02  21:00:00
1039  F4_10  available  2020-01-02  21:00:00

[1040 rows x 4 columns]

In [235]:
slots = []
for i in range(1,5):
    for j in range(1,11):
        slots.append(f"F{i}_{j}")
slots_count = {slot:0 for slot in slots}

In [236]:
# Condition filter
filter_date = "2020-01-02"
start_time = 9
end_time = 21

In [237]:
for i in range(1,5):
    for j in range(1,11):
        slot_df = df[(df['Slot']=="F{}_{}".format(i,j))]
        count = 0
        for k in range(len(slot_df)-1):
            window_temp = slot_df[k:k+2]
            if window_temp.iloc[0]['Status']=="available" and window_temp.iloc[1]['Status']=="occupied" :
                str_temp = window_temp.iloc[0]['Time']
                time_now = int(str_temp[0:2])
                if start_time<=time_now and time_now<=end_time and window_temp.iloc[0]['Date']==filter_date :
                    count = count +1
        slots_count["F{}_{}".format(i,j)] = count

In [238]:
slots_count

{'F1_1': 4,
 'F1_2': 3,
 'F1_3': 2,
 'F1_4': 3,
 'F1_5': 4,
 'F1_6': 3,
 'F1_7': 3,
 'F1_8': 3,
 'F1_9': 2,
 'F1_10': 3,
 'F2_1': 3,
 'F2_2': 2,
 'F2_3': 3,
 'F2_4': 3,
 'F2_5': 2,
 'F2_6': 2,
 'F2_7': 3,
 'F2_8': 3,
 'F2_9': 3,
 'F2_10': 2,
 'F3_1': 3,
 'F3_2': 3,
 'F3_3': 3,
 'F3_4': 3,
 'F3_5': 2,
 'F3_6': 3,
 'F3_7': 3,
 'F3_8': 3,
 'F3_9': 3,
 'F3_10': 3,
 'F4_1': 2,
 'F4_2': 4,
 'F4_3': 1,
 'F4_4': 4,
 'F4_5': 3,
 'F4_6': 1,
 'F4_7': 3,
 'F4_8': 3,
 'F4_9': 2,
 'F4_10': 3}