In [28]:
from datetime import date, datetime, timedelta
import random
import pandas as pd

In [29]:
MAX_TIME = timedelta(hours=13)  # From 09:00 - 22:00

now = datetime.utcnow()

In [30]:
def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)


def datetime_range(start, end, delta):
    current = start
    while current < end:
        yield current
        current += delta
def gen_weight(hour,weekday,day):
        if hour < 10:
            weights = [0.9, 0.1] if weekday < 5 else [0.8, 0.2]
            
        elif hour >= 10 and hour < 13:
            weights = [0.3, 0.7] if weekday < 5 else [0.2, 0.8]
            
        elif hour >= 13 and hour < 17:
            weights = [0.4, 0.6] if weekday < 5 else [0.3, 0.7]
            
        elif hour >= 17 and hour <= 19:
            weights = [0.2, 0.8] if weekday < 5 else [0.1, 0.9]
            
        elif hour > 19 and  hour <= 20:
            weights = [0.4, 0.6] if weekday < 5 else [0.3, 0.7]
            
        elif hour > 20 and hour <= 21:
            weights = [0.8, 0.2] if weekday < 5 else [0.9, 0.1]
            
        elif hour >= 21 and hour < 22:
            weights = [0.9, 0.1]
            
        else:
            weights = [1.0, 0.0]
        
        return weights

In [31]:
start_date = date(2020, 1, 1)
end_date = date(2020, 1, 3)
start_hour = 9
stop_hour = start_hour + 13

slots = []
for i in range(1,5):
    for j in range(1,11):
        slots.append(f"F{i}_{j}")

slots_avail = {slot:"available" for slot in slots}
df = pd.DataFrame(columns=['Slot','Status','Date','Time'])

In [32]:
for single_date in daterange(start_date, end_date):
    for dt in datetime_range(
        datetime(single_date.year, single_date.month, single_date.day, start_hour),
        datetime(single_date.year, single_date.month, single_date.day, stop_hour),
        timedelta(hours=1)
        ):
        weekday = dt.weekday()
        hour = dt.hour
        day = dt.day

        weights = gen_weight(hour,weekday,day)
        
        for slot in slots:
            avail = random.choices(['available', 'occupied'], weights=weights)
            if slots_avail[slot] == avail[0]:
                slots_avail[slot] = avail[0]
                #print(slot+','+avail[0]+','+str(dt))
                df = df.append({'Slot': slot,'Status':avail[0],'Date':str(dt.date()),'Time':str(dt.time())}, ignore_index=True)
            else:
                slots_avail[slot] = avail[0]
                #print(slot+','+avail[0]+','+str(dt))
                df = df.append({'Slot': slot,'Status':avail[0],'Date':str(dt.date()),'Time':str(dt.time())}, ignore_index=True)

In [33]:
df

       Slot     Status        Date      Time
0      F1_1  available  2020-01-01  09:00:00
1      F1_2  available  2020-01-01  09:00:00
2      F1_3  available  2020-01-01  09:00:00
3      F1_4  available  2020-01-01  09:00:00
4      F1_5  available  2020-01-01  09:00:00
...     ...        ...         ...       ...
1035   F4_6  available  2020-01-02  21:00:00
1036   F4_7  available  2020-01-02  21:00:00
1037   F4_8  available  2020-01-02  21:00:00
1038   F4_9  available  2020-01-02  21:00:00
1039  F4_10  available  2020-01-02  21:00:00

[1040 rows x 4 columns]

In [34]:
df.to_csv('gen_data.csv',index=False)

In [35]:
df = pd.read_csv('gen_data.csv')

In [36]:
df

       Slot     Status        Date      Time
0      F1_1  available  2020-01-01  09:00:00
1      F1_2  available  2020-01-01  09:00:00
2      F1_3  available  2020-01-01  09:00:00
3      F1_4  available  2020-01-01  09:00:00
4      F1_5  available  2020-01-01  09:00:00
...     ...        ...         ...       ...
1035   F4_6  available  2020-01-02  21:00:00
1036   F4_7  available  2020-01-02  21:00:00
1037   F4_8  available  2020-01-02  21:00:00
1038   F4_9  available  2020-01-02  21:00:00
1039  F4_10  available  2020-01-02  21:00:00

[1040 rows x 4 columns]