In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('gen_data.csv')
df

        Slot     Status        Date      Time
0       F1_1  available  2020-01-01  09:00:00
1       F1_2  available  2020-01-01  09:00:00
2       F1_3  available  2020-01-01  09:00:00
3       F1_4  available  2020-01-01  09:00:00
4       F1_5  available  2020-01-01  09:00:00
...      ...        ...         ...       ...
16115   F4_6  available  2020-01-31  21:00:00
16116   F4_7  available  2020-01-31  21:00:00
16117   F4_8   occupied  2020-01-31  21:00:00
16118   F4_9  available  2020-01-31  21:00:00
16119  F4_10  available  2020-01-31  21:00:00

[16120 rows x 4 columns]

In [3]:
slots = []
for i in range(1,5):
    for j in range(1,11):
        slots.append(f"F{i}_{j}")
slots_count = {slot:0 for slot in slots}

In [4]:
# Condition filter
#filter_date = "2020-01-02"
# start_time = 9
# end_time = 21

In [5]:
date_arr = df.Date.unique()
date_arr

array(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
       '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
       '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
       '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
       '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
       '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
       '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
       '2020-01-29', '2020-01-30', '2020-01-31'], dtype=object)

In [6]:
df_all = pd.DataFrame()
df_all

Empty DataFrame
Columns: []
Index: []

In [7]:
for filter_date in date_arr:
    print(filter_date)
    for i in range(1,5):
        for j in range(1,11):
            slot_df = df[(df['Slot']=="F{}_{}".format(i,j))]
            count = 0
            for k in range(len(slot_df)-1):
                window_temp = slot_df[k:k+2]
                if window_temp.iloc[0]['Status']=="available" and window_temp.iloc[1]['Status']=="occupied" :
                    if window_temp.iloc[0]['Date']==filter_date :
                        count = count +1
            slots_count["F{}_{}".format(i,j)] = [count]
    df_date = pd.DataFrame({'date':[filter_date]})
    df_slots = pd.DataFrame.from_dict(slots_count)
    df_temp = pd.concat([df_date, df_slots], axis=1)
    df_all = df_all.append(df_temp,ignore_index=True)

2020-01-01
2020-01-02
2020-01-03
2020-01-04
2020-01-05
2020-01-06
2020-01-07
2020-01-08
2020-01-09
2020-01-10
2020-01-11
2020-01-12
2020-01-13
2020-01-14
2020-01-15
2020-01-16
2020-01-17
2020-01-18
2020-01-19
2020-01-20
2020-01-21
2020-01-22
2020-01-23
2020-01-24
2020-01-25
2020-01-26
2020-01-27
2020-01-28
2020-01-29
2020-01-30
2020-01-31

In [10]:
df_all.to_csv('results_count.csv',index=False)

In [11]:
df = pd.read_csv('results_count.csv')

In [12]:
df

,date,F1_1,F1_2,F1_3,F1_4,F1_5,F1_6,F1_7,F1_8,F1_9,...,F4_1,F4_2,F4_3,F4_4,F4_5,F4_6,F4_7,F4_8,F4_9,F4_10
0,2020-01-01,2,3,2,3,3,4,1,2,4,...,3,3,3,3,4,4,2,5,3,2
1,2020-01-02,3,3,4,4,2,3,3,3,1,...,4,2,2,3,5,2,4,3,3,3
2,2020-01-03,4,3,3,3,2,3,3,3,2,...,3,4,2,3,1,2,3,4,2,4
3,2020-01-04,2,4,2,3,2,2,3,3,2,...,4,1,2,1,2,2,3,3,3,3
4,2020-01-05,3,3,3,2,3,1,3,4,4,...,4,2,1,4,2,5,1,3,3,2
5,2020-01-06,4,4,4,3,3,4,2,1,3,...,4,3,4,3,3,1,4,3,2,3
6,2020-01-07,4,2,3,3,3,1,3,3,4,...,2,3,5,3,1,3,4,2,1,4
7,2020-01-08,3,4,3,2,2,2,2,3,2,...,3,2,5,2,3,4,3,3,3,3
8,2020-01-09,2,2,3,3,2,3,3,1,4,...,4,3,2,2,5,3,4,3,1,3
9,2020-01-10,3,4,2,4,4,4,4,3,3,...,5,3,2,4,3,3,4,4,3,3
10,2020-01-11,4,3,3,1,1,1,1,4,4,...,4,2,3,2,1,3,2,2,2,1
11,2020-01-12,2,3,1,3,1,1,2,3,2,...,2,2,3,2,3,2,2,4,2,2
12,2020-01-13,3,2,4,3,3,2,1,2,3,...,5,3,4,4,4,1,3,4,1,3
13,2020-01-14,3,2,3,1,3,4,4,3,2,...,2,3,3,2,3,3,1,3,3,2
14,2020-01-15,1,2,4,2,2,3,1,3,3,...,3,3,1,3,2,1,3,3,3,3
15,2020-01-16,2,3,3,2,3,2,3,3,3,...,4,2,4,4,1,3,5,3,4,4
16,2020-01-17,3,3,4,3,3,3,3,4,2,...,3,4,2,4,3,3,3,5,3,3
17,2020-01-18,3,3,1,3,1,3,3,1,2,...,4,3,1,3,2,2,1,2,3,2
18,2020-01-19,1,2,2,1,3,1,2,2,1,...,1,2,2,2,4,3,2,2,2,0
19,2020-01-20,2,2,4,3,2,2,3,3,2,...,3,4,4,2,3,4,4,3,3,5
20,2020-01-21,2,3,3,4,3,3,2,2,2,...,2,3,3,3,3,3,3,3,2,0
21,2020-01-22,4,2,3,3,4,2,4,2,2,...,3,3,3,2,2,2,3,3,4,4
22,2020-01-23,1,2,3,1,3,4,3,3,2,...,3,3,2,1,3,4,2,1,4,4
23,2020-01-24,3,2,3,4,2,1,2,5,4,...,2,3,3,3,3,1,3,2,3,3
24,2020-01-25,2,4,2,2,2,3,3,3,2,...,3,3,1,4,3,2,2,1,2,3
25,2020-01-26,2,3,2,2,2,3,1,3,4,...,2,3,2,2,2,2,4,2,2,3
26,2020-01-27,3,1,2,3,3,4,3,3,3,...,1,2,1,4,3,3,3,2,4,2
27,2020-01-28,3,3,3,2,2,2,3,2,3,...,3,4,3,3,5,3,2,2,4,3
28,2020-01-29,5,3,3,4,3,4,4,3,3,...,2,3,3,3,2,2,3,1,3,2
29,2020-01-30,3,4,3,5,4,2,2,3,3,...,3,3,2,2,2,3,4,3,2,3
30,2020-01-31,3,2,3,3,3,2,3,3,3,...,1,2,3,2,3,1,2,4,5,3