In [1]:
import pandas as pd

In [179]:
df = pd.read_csv('new_data.csv')
df

        Slot     Status        Timestamp        Date      Time
0       F1_1  available    1/1/2020 9:00  2020-01-01  09:00:00
1       F1_2  available    1/1/2020 9:00  2020-01-01  09:00:00
2       F1_3  available    1/1/2020 9:00  2020-01-01  09:00:00
3       F1_4  available    1/1/2020 9:00  2020-01-01  09:00:00
4       F1_5   occupied    1/1/2020 9:00  2020-01-01  09:00:00
...      ...        ...              ...         ...       ...
16115   F4_6   occupied  1/31/2020 21:00  2020-01-31  21:00:00
16116   F4_7   occupied  1/31/2020 21:00  2020-01-31  21:00:00
16117   F4_8  available  1/31/2020 21:00  2020-01-31  21:00:00
16118   F4_9  available  1/31/2020 21:00  2020-01-31  21:00:00
16119  F4_10  available  1/31/2020 21:00  2020-01-31  21:00:00

[16120 rows x 5 columns]

In [180]:
#count the total number of status
count  = pd.Series(df['Status'].str.split(',').map(Counter).sum())
count

available    6123
occupied     9997
dtype: int64

In [181]:
dups_Slot_Status_Datetime = df.pivot_table(index=['Slot','Status','Time'], aggfunc='size')
print (dups_Slot_Status_Datetime)

Slot  Status     Time
F1_1  available  09:00:00    28
                 10:00:00    10
                 11:00:00     9
                 12:00:00     9
                 13:00:00    13
                             ..
F4_9  occupied   17:00:00    23
                 18:00:00    22
                 19:00:00    26
                 20:00:00    22
                 21:00:00     4
Length: 1038, dtype: int64

In [182]:
slots = []
for i in range(1,5):
    for j in range(1,11):
        slots.append(f"F{i}_{j}")
slots_count = {slot:0 for slot in slots}

In [183]:
# Condition filter: adjust by yourself.
filter_date = "2020-01-31"
start_time = 9
end_time = 21

In [184]:
for i in range(1,5):
    for j in range(1,11):
        slot_df = df[(df['Slot']=="F{}_{}".format(i,j))]
        count = 0
        for k in range(len(slot_df)-1):
            window_temp = slot_df[k:k+2]
            
            if window_temp.iloc[0]['Status']=="available" and window_temp.iloc[1]['Status']=="occupied" :
                str_temp = window_temp.iloc[0]['Time']
                time_now = int(str_temp[0:2])
                
                if start_time<=time_now and time_now<=end_time and window_temp.iloc[0]['Date']==filter_date :
                    count = count +1
        slots_count["F{}_{}".format(i,j)] = count

In [185]:
slots_count

{'F1_1': 3,
 'F1_2': 5,
 'F1_3': 4,
 'F1_4': 3,
 'F1_5': 3,
 'F1_6': 3,
 'F1_7': 3,
 'F1_8': 4,
 'F1_9': 3,
 'F1_10': 2,
 'F2_1': 2,
 'F2_2': 2,
 'F2_3': 2,
 'F2_4': 3,
 'F2_5': 2,
 'F2_6': 3,
 'F2_7': 3,
 'F2_8': 4,
 'F2_9': 2,
 'F2_10': 3,
 'F3_1': 3,
 'F3_2': 2,
 'F3_3': 2,
 'F3_4': 3,
 'F3_5': 4,
 'F3_6': 4,
 'F3_7': 3,
 'F3_8': 2,
 'F3_9': 3,
 'F3_10': 2,
 'F4_1': 0,
 'F4_2': 4,
 'F4_3': 2,
 'F4_4': 2,
 'F4_5': 2,
 'F4_6': 4,
 'F4_7': 4,
 'F4_8': 2,
 'F4_9': 3,
 'F4_10': 4}